<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="card w-100" style="background-color: rgb(146, 145, 171);">
        <div class="card-body">
            <div *ngFor="let o of  order; let i = index">
                <div class="form-group">
                    <label for="id">id</label>
                    <input type="text" class="form-control" id="id" required [(ngModel)]="o.id._id" name="id">
                </div>
                <div class="form-group">
                    <label for="quantity">quantity</label>
                    <input type="text" class="form-control" id="quantity" required [(ngModel)]="o.quantity"
                        name="quantity">
                </div>
            </div>
        </div>
    </div>
</form>

<p>order update component</p>
