
.list-group{
    position: fixed;
    top:20%;
    
}
.carousel {
    position: relative;
    height: 800px;
    margin-top: 80px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}