<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label for="user Id">user Id</label>
        <select class="form-control" id="userId" name="userId" [(ngModel)]="orderForm.userId">
            <option *ngFor="let id of search.userId" [value]="id._id">{{id._id}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="status">status</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="orderForm.status">
            <option *ngFor="let s of search.status" [value]="s._id">{{s._id}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="date">date</label>
        <select class="form-control" id="date" name="date" [(ngModel)]="orderForm.date">
            <option *ngFor="let date of search.dates" [value]="date">{{date}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>