<div class="container">
    <h4>Orders</h4>
    <div *ngFor="let order of orders">
        <div class="continer" style="display: block; border: 1px solid;">
            User ID (that made the order) : <p>{{order.userId}}</p>
            Order ID: <p>{{order._id}}</p>
            Order Date:<p>{{order.date}}</p>
            Order Status:<p>{{order.status}}</p>
            Smartphones ID:
            <div *ngFor="let smartphones of order.smartphones">
                <p>{{smartphones}} </p>
            </div>
        </div>
    </div>
</div>