<div style="margin-left: 300px">
    <button [routerLink]="['/']" type="submit" class="btn btn-primary">Back</button>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="phoneModel">Phone Model</label>
            <input type="text" class="form-control w-50" id="phoneModel" name="phoneModel" [(ngModel)]="form.phoneModel"
                required>
        </div>
        <div class="form-group">
            <label for="brand">Brand</label>
            <input type="text" class="form-control w-50" id="brand" name="brand" [(ngModel)]="form.brand" required>
        </div>
        <div class="form-group">
            <label for="display">Display</label>
            <input type="text" class="form-control w-50" id="display" name="display" [(ngModel)]="form.display"
                required>
        </div>
        <div class="form-group">
            <label for="processor">Processor</label>
            <input type="text" class="form-control w-50" id="processor" name="processor" [(ngModel)]="form.processor"
                required>
        </div>
        <div class="form-group">
            <label for="batteryCapacity">BatteryCapacity</label>
            <input type="text" class="form-control w-50" id="batteryCapacity" name="batteryCapacity"
                [(ngModel)]="form.batteryCapacity" required>
        </div>
        <div class="form-group">
            <label for="frontCamera">FrontCamera</label>
            <input type="text" class="form-control w-50" id="frontCamera" name="frontCamera"
                [(ngModel)]="form.frontCamera" required>
        </div>
        <div class="form-group">
            <label for="rearCamera">FearCamera</label>
            <input type="text" class="form-control w-50" id="rearCamera" name="rearCamera" [(ngModel)]="form.rearCamera"
                required>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control w-50" id="image" name="image" [(ngModel)]="form.image" required>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control w-50" id="price" name="price" [(ngModel)]="form.price"
                #price="ngModel" required>
        </div>
        <button [routerLink]="['/']" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>