<div class="div" style="margin-left: 300px;" *ngIf="!showChildrens">
    <h4>SMARTPHONES</h4>
    <div class="row" style="margin-left:20px ; margin-top:10px; margin-bottom:10px;">
        <button [routerLink]="'create'" (click)="createSmartphone()" type="button"
            class="btn btn-outline-success btn-lg">Add Smartphone</button>
    </div>
    <div class="row">
        <div class="col-lg-4" *ngFor="let s of smartphones">
            <div class="card" style="border: 1px solid black; margin-bottom: 10px;">
                <div class="card-header">
                    <h5>Smartphone ID: {{s._id}}</h5>
                </div>
                <div class="card-body">
                    <h3>Model: {{s.phoneModel}}</h3>
                    <h3>Brand: {{s.brand}}</h3>
                    <h3>Display: {{s.display}}</h3>
                    <h3>Processor: {{s.processor}}</h3>
                    <h3>Price: {{s.price}}</h3>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-warning"
                        (click)="updateSmartphone( s._id , s)">Edit</button>
                    <button type="button" class="btn btn-outline-danger"
                        (click)="removeSmartphone(s._id)">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showChildrens">
    <router-outlet></router-outlet>
</div>